* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    flex-direction: column;
}

.map {
    width: 400px;
    height: 400px;
}

.user-places {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-content: space-between; */
    /* justify-content: space-between; */
    top: 150%;
    transition: top 0.5s;
    width: 100%;
    height: 31vh;
    border: 1px solid black;
    padding: 10px;
}

.place {
    display: flex;
    flex-direction: column;
    height: 50%;
    max-width: 10%;
    /* justify-content: space-between; */
    border-right: 1px solid blue;
    padding: 10px;
}

.place span {
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.open {
    top: 71%;
}

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    width: 40px;
    background-image: url(../assets/my-location.jpg);
    background-size: contain;
    cursor: pointer;
}

.custom-map-control-button:hover {
    background-color: #5f5b5b;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 150%;
    height: 50%;
    width: 50%;
    transition: top 0.5s;
    background-color: gray;
}

.modal.open {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buttons {
    display: flex;
}